<% title "Đặt Hàng" %>

<div class="checkout-area ptb-50">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 col-sm-offset-3">
                <h2 style="color:#25ae88">ĐẶT HÀNG THÀNH CÔNG</h2>
                <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72">
                    <g fill="none" stroke="#25ae88" stroke-width="2">
                        <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                        <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
                    </g>
                </svg>
                <h3 class="ptb-30">Cảm ơn bạn đã đặt hàng tại Lộc Yến.<br> Nhân viên của chúng tôi sẽ liên hệ cho bạn để xác nhận.</h3>
                
                <h4 style="line-height: 20px">
                    <p>Mọi thắc mắc vui lòng để lại lời nhắn <a href="<%= erp_locyen.contact_us_path %>">tại đây</a>.</p>
                    <p>Hoặc để nhận được phản hồi nhanh nhất, vui lòng liên hệ:</p>
                    <p>- Hotline: <a href="tel:0896 995 686">0896 995 686</a> - <a href="tel:0906 998 865">0906 998 865</a></p>
                    <p>- Email: <a href="mailto:contact@locyennest.com">contact@locyennest.com</a></p>
                </h4>
                <br>
                <%= link_to 'TIẾP TỤC MUA HÀNG', erp_locyen.root_path, class: "btn btn-default btn-complete" %>
                <br><br>
            </div>
        </div>
    </div>
</div>