<!-- about-area start -->
<div class="breadcrumbs-area bg-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="woocommerce-breadcrumb mtb-15">
                    <div class="menu">
                        <ul>
                            <li><a href="<%= erp_locyen.root_path %>">Trang chủ</a></li>
                            <li class="active"><a href="javascript:void(0);">Giới thiệu</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="line-bg-gradient to-left"></div>
<div class="about-main-area">
    <div class="about-title-area ptb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-heading wow fadeInUp" data-wow-delay="0.3s">
                        <h1>Giới thiệu</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="about-area about-bg">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="about-img mb-30 wow fadeInLeft" data-wow-delay="0.5s">
                        <div class="about-img-3D">
                            <img src="/frontend/img/about/1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="about-content text-justify mb-30 wow fadeInRight" data-wow-delay="0.5s">
                        <div class="about-title mb-20">
                            <h2>Yến sào cao cấp Lộc Yến</h2>
                        </div>
                        <p>Hơn 9 năm kinh nghiệm trong lĩnh vực kinh doanh các loại yến sào và nuôi yến bằng công nghệ cao đạt chuẩn tự nhiên, khi thay đổi thành thương hiệu Lộc Yến, chúng tôi nỗ lực và quyết tâm mang những món quà sức khoẻ, những lựa chọn chất lượng nhất được tiếp cận với người tiêu dùng Việt Nam. Với mong muốn ai cũng có thể sử dụng yến sào để chăm lo cho sức khoẻ bản thân và gia đình của mình.</p>
                        <p>Bên cạnh đó, chúng tôi còn khẳng định giá trị đẳng cấp và tinh tế trong từng sản phẩm mang thương hiệu Lộc Yến. Với tiêu chuẩn cao từ khâu chọn lựa tổ yến đến khâu chế biến, đóng gói bao bì, cùng với sự tận tâm, chuyên nghiệp của đội ngũ nhân viên Lộc Yến, khách hàng sẽ cảm thấy thật sự hài lòng với giá trị sản phẩm mình nhận được.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-area about-bg">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="about-content text-justify mb-30 wow fadeInLeft" data-wow-delay="0.5s">

                        <div class="about-title mt-30 mb-20">
                            <h2>Điều gì tạo nên Lộc Yến?</h2>
                        </div>
                        <ul class="check-list">
                            <li>Khai thác tổ yến <strong>100% NGUYÊN CHẤT</strong></li>
                            <li>Phát hiện hàng giả <strong>BỒI THƯỜNG 200%</strong></li>
                            <li>Quà tặng sức khoẻ <strong>SANG TRỌNG – TINH TẾ – NGÂN SÁCH HỢP LÝ</strong></li>
                            <li>Dịch vụ tận tâm <strong>TƯ VẤN NHIỆT TÌNH – GIAO HÀNG NHANH CHÓNG</strong></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="about-img mb-30 wow fadeInRight" data-wow-delay="0.5s">
                        <div class="about-img-3D">
                            <img src="/frontend/img/about/4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-area about-bg">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="about-img mb-30 wow fadeInLeft" data-wow-delay="0.5s">
                        <div class="about-img-3D">
                            <img src="/frontend/img/about/5.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="about-content text-justify mb-30 wow fadeInRight" data-wow-delay="0.5s">

                        <div class="about-title mt-30 mb-20">
                            <h2>Giá trị cốt lõi: CHÂN - THIỆN - MỸ</h2>
                        </div>
                        <ul class="check-list">
                            <li><strong>CHÂN: </strong>Luôn chân thật và cam kết với khách hàng về chất lượng trong từng sản phẩm. Yến sào Lộc Yến cam kết 100% tổ yến nguyên chất, loại bỏ việc sử dụng chất bảo quản và phụ gia hóa học là lương tâm nghề nghiệp cần phải được thực hiện.</li>
                            <li><strong>THIỆN: </strong>Luôn tận tâm, tôn trọng và chăm sóc từng khách hàng một cách chu đáo nhất để khách hàng luôn cảm thấy hài lòng.</li>
                            <li><strong>MỸ: </strong>Bên cạnh chất lượng, Lộc Yến luôn hướng đến yếu tố thẩm mỹ, hướng đến cái đẹp, sự tinh tế, chỉn chu trong từng sản phẩm.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-area end -->