<!-- contact-us-area start -->
<div class="breadcrumbs-area bg-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="woocommerce-breadcrumb mtb-15">
                    <div class="menu">
                        <ul>
                            <li><a href="index.html">Trang chủ</a></li>
                            <li class="active"><a href="javascript:void(0);">Liên hệ & góp ý</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="line-bg-gradient to-left"></div>

<div class="contact-area pt-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="contact mb-50 bg-loc-yen p-20">
                    <div class="contact-title">
                        <h2>Liên hệ với chúng tôi</h2>
                    </div>
                    <div class="contact-form form-style">
                        <form id="contact-form" action="mail.php" method="post">
                            <span>Họ và tên (*)</span>
                            <input name="subject" type="text" />
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Email (*)</span>
                                    <input name="email" type="email" />
                                </div>
                                <div class="col-md-6">
                                    <span>Số điện thoại (*)</span>
                                    <input name="name" type="text" />
                                </div>
                            </div>
                            <span>Chủ đề (*)</span>
                            <input name="subject" type="text" />
                            <span>Nội dung tin nhắn (*)</span>
                            <textarea name="message" id="#" cols="30" rows="2"></textarea>
                            <button type="submit">gửi đi</button>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="contact-detail mb-50 p-20 bg-loc-yen">
                    <div class="contact-title">
                        <h2>THƯƠNG HIỆU LỘC YẾN THUỘC ĐƠN VỊ SẢN XUẤT CÔNG TY TNHH XNK YẾN SÀO LỘC PHÁT</h2>
                    </div>
                    <h5>ĐỊA CHỈ CỬA HÀNG</h5>
                    <p>Số 240/7 Lê Thánh Tôn, Phường Bến Thành, Quận 1, Thành phố Hồ Chí Minh, Việt Nam</p>
                    <h5>EMAIL</h5>
                    <p>contact@locyennest.com</p>
                    <h5>HOTLINE</h5>
                    <p>0896 995 686 <br> 0906 998 865</p>
                    <h5>WEBSITE</h5>
                    <p>https://locyennest.com</p>
                    <h5>GIỜ MỞ CỬA</h5>
                    <p>Hàng ngày: 9:00AM - 8:00PM</p>
                </div>
            </div>
        </div>
    </div>
    <div class="google-map-area">
        <div id="googleMap"></div>
    </div>
</div>
<!-- contact-us-area end -->

<% content_for :javascript do %>
    <!-- Google Map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1cZtqidvg0m-f8Hd3S6RHx1mY-omuLS4 "></script>
    <script>
        function initialize() {
            var mapOptions = {
                zoom: 15,
                scrollwheel: false,
                center: new google.maps.LatLng(23.810332, 90.412518)
            };

            var map = new google.maps.Map(document.getElementById('googleMap'),
                mapOptions);


            var marker = new google.maps.Marker({
                position: map.getCenter(),
                animation: google.maps.Animation.BOUNCE,
                icon: '/frontend/images/map.png',
                map: map
            });

        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<% end %>