<!-- contact-us-area start -->
<div class="breadcrumbs-area bg-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="woocommerce-breadcrumb mtb-15">
                    <div class="menu">
                        <ul>
                            <li><a href="index.html">Trang chủ</a></li>
                            <li class="active"><a href="javascript:void(0);">Liên hệ & góp ý</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="line-bg-gradient to-left"></div>

<div class="contact-area pt-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="contact mb-50 p-20">
                    <div class="contact-title">
                        <h2>Liên hệ với chúng tôi</h2>
                    </div>
                    <div class="contact-form form-style">
                        <form id="contact-form" action="mail.php" method="post">
                            <div class="form-group has-feedback has-success">
                                <label class="control-label">Họ và tên <span>(*)</span></label>
                                <input type="text" id="input-lastname" name="contact[name]"
                                    class="form-control required" placeholder="Nhập họ và tên...">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback has-success">
                                        <label class="control-label">Số điện thoại <span>(*)</span></label>
                                        <input type="text" id="input-lastname" name="contact[phone]"
                                            class="form-control required" placeholder="Nhập số điện thoại...">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback has-success">
                                        <label class="control-label">Email <span>(*)</span></label>
                                        <input type="email" id="input-lastname" name="contact[email]"
                                            class="form-control required" placeholder="Nhập địa chỉ email...">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group has-feedback has-success">
                                <label class="control-label">Chủ đề <span>(*)</span></label>
                                <input type="text" id="input-lastname" name="contact[subject]"
                                    class="form-control required" placeholder="Nhập chủ đề quan tâm...">
                            </div>
                            <div class="form-group has-feedback has-success" style="padding:5px 0;">
                                <label class="control-label">Nội dung tin nhắn (*)</label>
                                <textarea class="form-control" name="msg[message]"
                                    placeholder="Nhập nội dung lời nhắn..."></textarea>
                            </div>

                            <button type="submit">gửi đi</button>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="contact-detail mb-50 p-20">
                    <div class="contact-title">
                        <h2>LỘC YẾN</h2>
                    </div>
                    <h6>ĐỊA CHỈ CỬA HÀNG</h6>
                    <p class="mb-20">Số 240/7 Lê Thánh Tôn, Phường Bến Thành, Quận 1, Thành phố Hồ Chí Minh, Việt Nam</p>
                    <h6>EMAIL</h6>
                    <p class="mb-20">contact@locyennest.com</p>
                    <h6>HOTLINE</h6>
                    <p class="mb-20">0896 995 686 <br> 0906 998 865</p>
                    <h6>WEBSITE</h6>
                    <p class="mb-20">https://locyennest.com</p>
                    <h6>GIỜ MỞ CỬA</h6>
                    <p class="mb-20">Hàng ngày: 9:00AM - 8:00PM</p>
                </div>
            </div>
        </div>
    </div>
    <div class="google-map-area">
        <div id="googleMap"></div>
    </div>
</div>
<!-- contact-us-area end -->

<% content_for :javascript do %>
    <!-- Google Map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1cZtqidvg0m-f8Hd3S6RHx1mY-omuLS4 "></script>
    <script>
        function initialize() {
            var mapOptions = {
                zoom: 15,
                scrollwheel: false,
                center: new google.maps.LatLng(23.810332, 90.412518)
            };

            var map = new google.maps.Map(document.getElementById('googleMap'),
                mapOptions);


            var marker = new google.maps.Marker({
                position: map.getCenter(),
                animation: google.maps.Animation.BOUNCE,
                icon: '/frontend/images/map.png',
                map: map
            });

        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<% end %>