<!-- banner area  start-->
<div class="banner-area fix">
    <div class="single-banner pull-left">
        <a href="#"><img src="/frontend/img/banner/1.jpg" alt="" /></a>
    </div>
    <div class="single-banner pull-right">
        <a href="#"><img src="/frontend/img/banner/2.jpg" alt="" /></a>
    </div>
</div>
<!-- banner area  end-->