<div class="offer-area pattern-bg ptb-30 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="single-offer wow fadeInUp" data-wow-delay="0.3s">
                    <img src="/frontend/img/offer/nest-01.svg">
                    <p>Khai thác tổ yến từ thiên nhiên</p>
                    <p class="highlight">100% NGUYÊN CHẤT</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="single-offer wow fadeInDown" data-wow-delay="0.3s">
                    <img src="/frontend/img/offer/return-01.svg">
                    <p>Nếu phát hiện hàng giả</p>
                    <p class="highlight">BỒI THƯỜNG 200%</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="single-offer wow fadeInUp" data-wow-delay="0.3s">
                    <img src="/frontend/img/offer/gift-01.svg">
                    <p>Quà tặng sức khỏe</p>
                    <p class="highlight">SANG TRỌNG – TINH TẾ – NGÂN SÁCH HỢP LÝ</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="single-offer wow fadeInDown" data-wow-delay="0.3s">
                    <img src="/frontend/img/offer/diamond-01.svg">
                    <p>Dịch vụ tận tâm</p>
                    <p class="highlight">TƯ VẤN NHIỆT TÌNH – GIAO HÀNG NHANH CHÓNG</p>
                </div>
            </div>
        </div>
    </div>
</div>