<div class="top-footer ptb-50 bg-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="contact clear">
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                        <span>Hỗ trợ </span>
                        <span> tư vấn</span>
                    </div>
                    <div class="text">
                        0896 995 686
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="contact clear">
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                        <span>Hỗ trợ </span>
                        <span> đơn hàng</span>
                    </div>
                    <div class="text">
                        0906 998 865
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-md-none d-lg-block d-sm-block">
                <div class="contact clear res">
                    <div class="icon">
                        <i class="fa fa-envelope-o"></i>
                        <span> Gửi email  </span>
                        <span>cho Lộc Yến</span>
                    </div>
                    <div class="text">
                        <p>contact@locyennest.com </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>