<div class="footer-bottom ptb-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright text-center">
                    <span>
                        &copy; 2020 LỘC YẾN NEST - All Rights Reserved.<br>
                        Developed by GNS Team
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>